<div class="container center">
    <h1>Zahlenratespiel</h1>
    <p>Ich habe mir eine Zahl zwischen 1 und 100 ausgedacht. Kannst du sie erraten?</p>
    <div>
        <input type="number" min="1" max="100" id="guess" (keydown.enter)="checkGuess()" placeholder="Deine Vermutung"
            [(ngModel)]="guess">
        <button (click)="checkGuess()">Raten</button>
    </div>
    <div>
        @if (message) {
        <p [class.correct]="message.includes('Richtig!')"
            [class.wrong]="message.includes('zu hoch') || message.includes('zu niedrig')">
            {{ message }}
        </p>
        }
        @if (attempts > 0) {
        <p>Anzahl der Versuche: {{ attempts }}</p>
        }
    </div>

    @if (gameWon) {
    <button (click)="resetGame()">Neues Spiel</button>
    }
</div>
<app-home-btn></app-home-btn>