button
    background-color: #0ae2f1
    border: none
    border-radius: 50%
    width: 180px
    height: 80px
    font-size: 40px
    color: white

.center
    display: flex
    justify-content: center
    align-items: center
    height: 100vh