<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.PersonalHomepage" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PersonalHomepage</name>
    <description>My Personal Homepage</description>
    <author email="lukas@example.com" href="https://cordova.apache.org">
        Lukas
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
