.confetti-piece
    position: absolute
    width: 5px
    height: 5px
    background-color: orange
    top: 0
    left: 50%
    opacity: 0.7
    border-radius: 50%
    animation: confetti-fall 1s linear infinite
    z-index: 1000

@keyframes confetti-fall 
    from
        transform: translateY(0) rotate(0deg)
    to
        transform: translateY(100vh) rotate(360deg)
