div {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #5267ddbd;
}
h1 {
  color: #333333da;
  text-align: center;
}
.links {
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  a {
    color: #333333da;
    text-decoration: none;
    margin: 0 10px;
  }
    &:hover {
      text-decoration: underline;
    }
}
