h1 {
  text-align: center;
}

button {
  border: none;
  margin-left: 20px;
  padding: 8px;
  padding-left: 14.5px;
  padding-right: 14.5px;
  background-color: rgba(6, 240, 220, 0.815);
  border-radius: 50%;
  font-size: 20px;
}
